<style>
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

    .nav .logo {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #2d394b;
    justify-content: space-between;
    padding: 30px 120px 20px 120px;
  }

    .nav-links a {
    font-family: 12px 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
  }

   .page1 {
    background: repeat fixed
    url("https://cdn.pixabay.com/photo/2016/06/02/02/35/mesh-1430107_960_720.png");
    height: 700px;
    color: white;
    padding: 5%;
    margin-bottom: 60px;
  }

   .h1 {
    font-family: ;
    font-size: 50px;
    font-size: 100px;
    margin-bottom: 10px;
    text-align: center;
  }

  .h2 {
    font-size: 200px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .line1 {
    align="left"
    height: 14px;
    width: 380px;
    size: 20px;

  }

  .h3 {
    padding-left: 400px;
    font-style: italic;
    font-size: 30px;
    margin-top: -18px;
    margin-bottom: 50px;
  }

  .B1 {
    border-radius: 50%;
    height: 67px;
    width: 67px;
    border: 1px solid #ffffff;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    transition: all ease .35s;
  }

  .B1:hover {
    background-color: white;
    width: 67px;
    height: 67px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: blue;
    transition: all ease .35s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
  }
  .page2 {
    display: flex;
    justify-content: center;
  }

  .page2 img {
    box-shadow: 1px 5px 27px 0px rgb(0 0 0 / 9%);
    margin-left: 200px;
    margin-bottom: 120px;
  }

  .text {
    margin-left: 70px;
    margin-right: 194px;
    line-height: 2;
  }
  .step1-p1 {
    color: #888888;
  }

  .step1-p2 {
    font-size: 35pt;
    color: #404044;
  }

  .line2 {
    margin-bottom: 20px;
    background-color: #505cfd;
    height: 4px;
    margin-left: -146px;
    margin-right: 220px;


  }
  .blue {
    color: blue;
  }

  .step1-p3 {

    font-size: 14px;
    word-spacing: 2px;
    color: #888888;
    margin-bottom: 14px;
    width: 600px;
  }

  .step1-p4 {
    font-size: 14px;
    word-spacing: 2px;
    color: #404044;
    margin-bottom: 40px;
  }

  .button {
    font-size: 20px;
    border-radius: 40px;
    background-color: #505CFD;
    border: none;
    color: white;
    padding: 14px 33px;
    transition: all ease .35s;
  }

  .button:hover {
    background-color: #2c343b;
    border-color: #2c343b;
    transform: translateY(4px);
    transition: all ease .35s;
    cursor: pointer;
  }

  .nig {
    box-shadow: 1px 5px 27px 0px rgb(0 0 0 / 9%);
    float:right;
    margin-top: -350px;
  }

  .page3 {
    margin-left: 100px;
  }

  .text2 {
    margin-left: 70px;
    line-height: 2;
  }

  .step2-p3 {
    font-size: 14px;
    word-spacing: 2px;
    color: #888888;
    width: 550px;
  }

  .line3 {
    background-color: #505cfd;
    height: 4px;
    margin-left: -200px;
    margin-right: 1400px;
    size: 20px;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 200px;
  }

  .step2-p3 {
      width: 250px;
      margin-left: 74px;
  }

  .icons {
    width: 50px;
    float: left;

  }
</style>